.root{
  padding: 30px;
  overflow: hidden;
}

.root h1{
  background-color: yellow;
  color: blue;
}

.box{
  height: 300px;
  width: 300px;
  background-color:lightgreen;
  margin: 10px;
  float: left;
}

input[type=text],select{
  border: 1px solid darkblue;
  padding: 3px;
  height: 30px;
  width: 200px;
  font-family: courier;
  margin: 10px;
}

button{
  color: white;
  background-color: darkred;
  padding: 10px;
  border: none;
  height: 30px;
}