.root{
  padding: 30px;
  overflow: hidden;
}

.root h1{
  background-color: yellow;
  color: blue;
}

.box{
  height: 300px;
  width: 300px;
  background-color:lightgreen;
  margin: 10px;
  float: left;
}